@font-face {
    font-family: brandFont;
    src: url(../fonts/MovieTimes.ttf);
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default .navbar-brand{
    font-size: 30px;
    color: black;
    font-family: brandFont;
}

.jumbotron{
    margin-bottom: 0;
    background-color: #fff;
}

section{
    padding:20px;
}

section i{
    color: #3097D1 !important;
}

.movie{
    width: 230px;
    background-color: white;
    box-shadow: 0px 0px 10px red;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

.movie:hover{
    box-shadow: 0px 0px 20px red;
}

.movie-bottom{
    position: relative;
}

.movie-link-name:link, .movie-link-name:active{
    font-size: 15px;
    margin-left: 5px;
    text-decoration: none;
    font-weight: bold;
}

.movie-link-name:hover{
    text-decoration: none;
}

.movie-year{
    margin-top: -4px;
    font-weight: bold;
    margin-left: 5px;
}

.movie-link-download{
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.image-list{
    max-height: 360px;
}

figure{
    position: relative;
    max-width: 230px;
}

figcaption{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.5s;
}

figcaption h4{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
}

figure:hover figcaption{
    opacity: 1;
}


.footer{
    background-color: white;
    width: 100%;
    height: 40px;
    border-top: 1px solid #d3e0e9;
}

.footer p{
    padding-top: 10px;
    font-weight: bold;
}

.panel-default {
    margin-top: 10px;
}

.list-group .list-group-item{
    font-weight: bold;
}

.list-icons{
    margin-right: 5px;
}

.genre-edit{
    padding-top: 10px;
    padding-bottom: 10px;
    float: inherit;
    margin-left: 0px;
}

.genre-edit .btn-primary{
    margin-top: -3px;
}

.actor-profile-img{
    margin-top: 15px;
    box-shadow: 0px 0px 10px green;
    border-radius: 10px;
}

.edit-actor-form{
    padding-top: 10px;
}

.role{
	text-align:center;
	margin-top:30px
}

.wrapper{
    min-height: 902px;
}

.browse-movie-wrap{
    margin-top: 15px;
}

.browse-movie-poster{
    box-shadow: 0px 0px 10px red;
}

.browse-movie-name{
    margin-top: 5px;
    margin-bottom:0px;
    font-weight:bold;
}

.browse-movie-year, .browse-movie-genres, .browse-movie-rating, .browse-movie-actor-name{
    font-weight: bold;
}
.browse-movie-year{
    margin-top:5px;
}

.browse-movie-genres,.browse-movie-rating{
    margin-top: 0;
}

.browse-movie-star, .browse-movie-info-icon{
    color: cornflowerblue;
}

.browse-movie-normal{
    font-weight:normal;
}

.browse-movie-screenshots{
    margin-top: 100px;
}

.browse-movie-youtube, .browse-movies-screenshot{
    width:100%;
    height:250px;
}

.screenshots{
    padding:0px 1px 0px 1px;
}

.browse-movie-actor{
    margin-bottom: 10px;
    border-left: 3px solid cornflowerblue;
    padding-left: 5px;
}

 .browse-movie-comment{
    margin-bottom: 10px;
}

.browse-movie-comment-text{
    word-wrap: break-word;
}

